* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Medium.ttf);
}

body {
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: #847DFF;
    
}

nav {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 2rem;
    min-height: 10vh;
    align-items: center;
    flex-wrap: wrap;
}

nav a:hover{
    color: #FF6584;
}

a {
    color: white;
    text-decoration: none;
    font-size: 2.4rem;
}
  
nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

nav ul li {
    font-size: 1.5rem;
    font-weight: bold;
}

#logo {
    width: 130px;
    margin-right: 40rem;
}

.hero {
    min-height: 90vh;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #4B45B2;
}

.main-head {
    background-color: #4B45B2;
}

.hero-text{
    flex: 2 1 30rem;
    padding: 20rem;
}

.hero-img {
    flex: 1 1 40rem;
    margin-top: 30rem;
    position: relative;
}

.hero-text h2 {
    font-size: 2.4rem;
    font-weight: bold;
}

.hero-text h3 {
    font-size: 4.8rem;
    font-weight: bold;
}

h3 span {
    color: #FF6584;
}

.hero-text h4 {
    font-size: 3.6rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.hero-text a {
    background-color: #FF6584;
    padding: 1rem 2rem;
    margin-right: 3rem;
    font-size: 1.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.hero-text a:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.btn-blue {
    background-color: #433EA0!important;
}

.hero-img img{
    width: 55rem;
}

.moon {
    position:absolute;
    top: -20rem;
    left: 50rem;
    width: 15rem!important;
}

.star {
    width: 2.5rem!important;
    position: absolute;
}

.star1{
    top: -10rem;
    left: 2rem;
}

.star2{
    top: 10rem;
    left: -1rem;
}

.star3{
    top: 15rem;
    left: 50rem;
}

.star4{
    top: -10rem;
    left: 20rem;
}

.star5{
    top: -20rem;
    left: 30rem;
}

.star6{
    top: -13rem;
    right: 30rem;
}

.star7{
    top: -1rem;
    right: 20rem;
}

.star8{
    top: -23rem;
    left: -8rem;
}

.star9{
    top: 0;
    left: -5rem;
}

.star10{
    top: -25rem;
}

.star11{
    left: 7rem;
}

.star12{
    right: 5rem;
}

.rocket {
    width: 10rem!important;
    position: absolute;
    top: -35rem;
    left: 18rem;
    transform: rotate(65deg);
}

.fire {
    width: 5rem!important;
    position: absolute;
    top: -29rem;
    left: 13rem;
    transform: rotate(-110deg);
    animation: fire 2s infinite alternate;
}

.first-animation {
    transition: all 1s ease;
    animation: first-animation .7s ease;
    animation-iteration-count: infinite;
}

.second-animation {
    transition: all 1s ease;
    animation: second-animation .9s ease;
    animation-iteration-count: infinite;
}

.third-animation {
    transition: all 1s ease;
    animation: third-animation 1s ease;
    animation-iteration-count: infinite;
}

.moon-animation {
    animation: moon-animation 5s infinite linear;
}

@keyframes fire {
    0%,
    100% {
        left: 120px;
    }

    50% {
        left: 135px;
    }
}

@keyframes first-animation {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.22); }
}

@keyframes second-animation {
    0%, 100% { transform: scale(0.8); }
    50% { transform: scale(1); }
}

@keyframes third-animation {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.3); }
}

@keyframes moon-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.galaxy {
    position: absolute;
    width: 7rem!important;
}

.galaxy-1 {
    top: -30rem;
    right: 30rem;
    animation: moon-animation 9s infinite linear;
}

.galaxy-2 {
    top: -27rem;
    left: 3rem;
    animation: moon-animation 7s infinite linear;
}

@media only screen and (max-width: 1620px) {
    .moon, .rocket, .galaxy, .fire{
        display: none;
    }
}

@media only screen and (max-width: 1286px) {
    .hero-img {
        flex:100%;
    }
    
    a {
        font-size: 1.8rem;
    }
    
    .hero-text h2 {
        flex:100%;
    }
    
    .hero {
        flex-direction: column-reverse;
    }
    .hero-text {
        padding: 10rem;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .moon, .rocket, .galaxy, .fire{
        display: none;
    }
}

@media only screen and (max-width: 766px) {
    .hero-text {
        padding: 10rem;
        text-align: center;
    }
}

@media only screen and (max-width: 1100px) {
    .hero-img {
        margin-top: 40rem;
    }
    .hero-text {
        padding: 10rem;
        text-align: center;
    }
    .moon {
        left: 40rem;
    }
}

@media only screen and (max-width: 800px) {
    .hero-img img{
        width: 40rem;
    }
    .moon {
        display: none;
    }
    .hero-text {
        padding: 10rem;
        text-align: center;
    }

    body {
        padding: 0;
    }
}

@media only screen and (max-width: 700px) {
    .hero-text h2{
        text-align: center;
        font-size: 2rem!important;
    }
    .hero-text h3{
        text-align: center;
        font-size: 3rem!important;
    }
    .hero-text h4{
        text-align: center;
        font-size: 3rem!important;
    }
    .star3 {
        display: none;
    }
    .star8 {
        display: none;
    }
    .moon {
        display: none;
    }
}

@media only screen and (max-width: 560px) {
    .hero-text a{
        display: flex;
        margin: 20px;
        flex-direction: column;
    }   

    .star10 {
        display: none!important;
    }
}


/*-----ABOUT-------*/

.about {
    height: 100%;
    background-color: #847DFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    width: 100%;
}

.about-img img {
    width: 60%;
    height: auto;
    margin-left: 10rem;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.about-img {
    display: flex;
    flex: 50%;
}

.about-text {
    flex: 50%;
    position: relative;
}

.about-text h2 {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 5rem;
}

.about-text p {
    font-size: 1.7rem;
    padding-right: 20rem;
    margin-bottom: 5rem;
}

.about {
    padding-bottom: 20px;
}

@media only screen and (max-width: 900px) {
    .about-img {
        flex: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
    }
    
    .about-text {
        flex: 100%;
        padding: 5rem;
    }
    .about-img img {
        width: 50%;
        margin: 0;
    }
    .about-text p{
        padding-right: 0;
    }
}

.skills {
    background-color: #847DFF;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 50px;
}

.skills img {
    width: 18%;
}

.invisible {
    opacity: 0;
}

.line {
    width: 35%!important;
}

.line-2 {
    transform: scaleX(-1);
}

.skills-container h2{
    font-size: 4.6rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration-line: underline;
    text-decoration-style: double;
}

.htmlcss {
    width: 25%!important;
}

.skills-container{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.skills-container img {
    padding: 5rem;
}

.tech {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media only screen and (max-width: 1300px) {
    .skills img {
        width: 200px;
        padding: 5rem;
    }
}

@media only screen and (max-width: 900px) {
    .skills img {
        width: 150px!important;
        padding: 2rem;
    }
    
    .line, .tech{
        margin: 20px;
    }
}


/* TIMELINE */

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    color: black;
    padding: 30px;
    font-size: 1.4rem;
}
  
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
  
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
  

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
  

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF6584;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
  

.left {
    left: 0;
}
  

.right {
    left: 50%;
}
  

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}
  

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}
  

.right::after {
    left: -16px;
}
  

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}
  

@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
}
    

.container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
}
    

.container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}
  
.left::after, .right::after {
    left: 15px;
}
    

.right {
    left: 0%;
    }
}

.timeline-header {
    text-align: center;
    font-size: 2.6rem;
    margin: 40px;
}

/* FOOTER */

footer {
    position: relative;
    overflow: hidden;
    margin-top: 40px;
}

footer img {
    width: 100%;
}

.footer-content {
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 3rem;
    font-size: 3.4rem;
    
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.footer-content a {
    font-size: 3.4rem;
    margin: 3px;
    
}

.footer-content h2 {
    margin-bottom: 10px;
}

.contact-info, .social-media {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1180px) {
    .footer-content {
        margin-top: -50px;
        font-size: 2.4rem;
    }
    .footer-content a {
        font-size: 2.4rem;
    }
  }